<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="error">{{error}}</div>
    <div>
      <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
      <input type="email" formControlName="email" class="form-control auth-control" id="email" placeholder="Email">
      <div *ngIf="submitted">
        <p *ngIf="this.loginForm.controls['email'].hasError('required')">Email requis</p>
      </div>
    </div>

    <div>
      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
      <input type="password" formControlName="password" class="form-control auth-control" id="password" placeholder="Password"/>
      <div *ngIf="submitted">
        <p *ngIf="this.loginForm.controls['password'].hasError('required')">Mot de passe requis</p>
      </div>
    </div>

    <div>
      <div>
        <a>Mot de passe oublié ?</a>
      </div>
    </div>

    <div>
      <p>Vous n'avez pas de compte ? 
        <a routerLink="auth/signup"> S'enregistrer </a> 
      </p>
    </div>

    <div>
      <button type="submit">Se connecter</button>
    </div>

  </form>
</div>