<app-header></app-header>
<div class="body">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <img src={{post.imageUrl}} alt="image">
    <button type="button" (click)="postLike()">Likes: {{ postlikes }}</button>
    <div class="form-container">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <div *ngIf="error">{{error}}</div>
          <div>
            <input formControlName="comment" class="form-control auth-control" id="comment" placeholder="comment">
            <div *ngIf="submitted">
              <p *ngIf="this.commentForm.controls['comment'].hasError('required')">Commentaire requis</p>
            </div>
          </div>
          <div>
            <button type="submit">Publier</button>
          </div>
        </form>
    </div>
</div>
