<div class="comment-container">

  <div class="form-container">
    
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      
      <div class="form-field">
        <mat-form-field appearance="fill" matNativeControl>
          <input matInput type="text" formControlName="comment" class="form-control auth-control" id="comment" placeholder="Commenter">
          <mat-error *ngIf="submitted">
            <p *ngIf="this.commentForm.controls['comment'].hasError('required')">{{ error }}</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="action-button">
        <button mat-raised-button color="warn" type="submit">Publier</button>
      </div>
      
    </form>
    
  </div>

  <div *ngFor="let item of comments">
    <p>{{ item['comment'] }}</p>
    <p>{{ item['author']['firstName'] }}</p>
    <p>{{ item['author']['lastName'] }}</p>
  </div>
  
</div>
