<div class="form-container">
  
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    
    <h3 class="form-card-title">Modifier une publication</h3>
    
    <div class="form-field">
      <mat-form-field appearance="fill" matNativeControl>
        <input matInput type="text" formControlName="title" class="form-control auth-control" id="title" placeholder="Titre">
        <mat-error *ngIf="submitted">
          <p *ngIf="this.postForm.controls['title'].hasError('required')">Titre requis</p>
        </mat-error>
      </mat-form-field>
    </div>
    
    <div class="form-field">
      <mat-form-field appearance="fill" matNativeControl>
        <textarea  matInput type="text" formControlName="content" class="form-control auth-control" id="content" placeholder="Contenue"></textarea>
        <mat-error *ngIf="submitted">
          <p *ngIf="this.postForm.controls['content'].hasError('required')">Contenue requis</p>
        </mat-error>
      </mat-form-field>
    </div>
    
    <div class="box" *ngIf="imageUrl != ''">
      <img src={{imageUrl}} alt="image">
    </div>
    
    <div class="form-action">
      
      <div class="image-button-container">
        <button class="image-button" type="button" mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon [ngClass]="imageSubmitted == true ? 'col-green' : 'col-black'">add_photo_alternate</mat-icon>
        </button>
        <input type="file" hidden #f_input (change)="onFileSelect($event)"/>
      </div>
      
      <div class="delete-image-container">
        <mat-checkbox class="delete-image-button" (change)="onChange($event)">Supprimer l'image.</mat-checkbox>
      </div>
      
      <div class="action-button">
        <button class="publish-button" mat-raised-button color="warn" type="submit">Publier</button>
        <button mat-raised-button color="warn" type="button" (click)="onModalClose()">Annuler</button>
      </div>
      
    </div>
    
  </form>
  
</div>
