.form-container {
    display: flex;
    justify-content: center;
    max-width: min-content;
    max-height: 30em;
}
.form-card-title {
    margin-top: 0;
    text-align: center;
}
mat-form-field {
    width: 30vw;
}
.form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}
#content {
    min-height: 5vh;
    max-height: 10vh;
}
.form-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 20%;
    margin-bottom: 1em;
}
.box img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 10px;
    object-fit: cover;
}
.image-button {
    margin-right: 0.5em;
}
.delete-image-button {
    margin-left: 1em;
}
.publish-button {
    margin-right: 1em;
}
.material-icons {
    font-size: 2.5em;
}
.col-green {
    color: #32CD32;
}
.col-black {
    color: black;
}

@media screen and (max-width: 1800px) {
    mat-form-field {
        width: 488px;
    }
    .form-action {
        justify-content: center;
        flex-direction: column;
    }
    .image-button-container {
        margin-bottom: 1em;
    }
    .image-action {
        flex-flow: column wrap;
        align-items: center;
    }
    .publish-button {
        right: 0;
    }
    .modify-action {
        flex-direction: column;
    }
    .action-button {
        margin: 1em 0 1em 0;
    }
}

@media screen and (max-width: 550px) {
    mat-form-field {
        width: 328px;
    }
}

@media screen and (max-width: 390px) {
    mat-form-field {
        width: 220px;
    }
}